src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:gmail="http://www.mulesoft.org/schema/mule/gmail" xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/gmail http://www.mulesoft.org/schema/mule/gmail/current/mule-gmail.xsd">
	<flow name="PostUsers" doc:id="878053cb-2edc-4e5a-a6a3-88f5c37071e2" >
		<ee:transform doc:name="Transform Message" doc:id="070de2ac-25d5-4b21-a47e-ebf4a016ae20" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	full_name__c: payload.full_name,
	Address__c: payload.address,
	Password__c: payload.password,
	contact_number__c: payload.contact_number,
	id__c: payload.id
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create doc:name="Create" doc:id="f57d6f72-5880-4754-b572-4453c702599a" config-ref="Salesforce_Config_mule_ecomm" type="user_table__c" target="user_create"/>
		<ee:transform doc:name="Transform Message" doc:id="acce4647-0d71-468b-ac60-dd967d658cf5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	id: "w" ++ (payload[0].id__c as String),
	user_id: payload[0].id__c,
	last_modified_at: now() as String {format: "yyyy-MM-dd HH:mm:ss"},
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:insert doc:name="Wishlist Creation" doc:id="21673190-81bb-4f40-a387-587005b0d5db" config-ref="Database_Config">
			<error-mapping sourceType="DB:QUERY_EXECUTION" targetType="USER:DUPLICATE_USER" />
			<db:sql ><![CDATA[INSERT INTO wishlist VALUES(:id, :user_id, :last_modified_at);]]></db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:insert>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message": "User Created Successfully!"
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        
	</flow>
	<flow name="DeleteUsers" doc:id="3a4ede61-1f94-4b29-9cf8-94fb48557fc3" >
		<salesforce:query doc:name="Query" doc:id="68f7aa36-7315-48d6-a40e-64e32b47d8de" config-ref="Salesforce_Config_mule_ecomm" target="query_var">
			<salesforce:salesforce-query ><![CDATA[SELECT Password__c, id__c, Name from user_table__c where id__c = :id]]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"id" : message.attributes.headers.user_id default 0
}]]]></salesforce:parameters>
		</salesforce:query>
		<choice doc:name="Choice" doc:id="85bd63fb-3f63-4fbf-9ae9-5d6e21d7ceab" >
			<when expression="#[vars.query_var[0].Password__c == message.attributes.headers.user_password]">
				<set-variable value="#[message.attributes.headers.user_id]" doc:name="user_id" doc:id="d9805e11-658a-43df-94e5-19dd9190f58e" variableName="user_id"/>
				<salesforce:delete doc:name="Delete User" doc:id="4ad1eff9-25a8-47da-9d6c-61109ba8500b" config-ref="Salesforce_Config_mule_ecomm">
					<salesforce:ids ><![CDATA[#[[vars.query_var[0].Name default " " as String]]]]></salesforce:ids>
				</salesforce:delete>
				<db:delete doc:name="Delete Wishlist" doc:id="83e6301a-de9a-46fb-8e35-8430993f1d82" config-ref="Database_Config">
					<db:sql ><![CDATA[DELETE FROM wishlist WHERE user_id = :user_id]]></db:sql>
					<db:input-parameters ><![CDATA[#[{"user_id":vars.user_id default 0 as Number}]]]></db:input-parameters>
				</db:delete>
				<logger level="INFO" doc:name="Logger" doc:id="8a3007bf-3acf-471c-b7fa-78b3931bf1a1" message="#[payload.items.exception]"/>
				<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"User deleted Successfully!"]]></ee:set-payload>
            </ee:message>
        </ee:transform>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="3e369753-7377-4a62-9251-2483b80b58f6" message="default" />
				<ee:transform doc:name="Transform Message" doc:id="ff893d16-81ed-47f4-a48c-773205bc0afd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if (sizeOf(vars.query_var) != 0) {
	"message": "Incorrect Password Provided; Please check your credentials!" 
}
else {
	"message": "User doesn't exist!" 
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	
</flow>
	<flow name="UpdateUsers" doc:id="ce7f0740-2ec9-4a45-8522-4e6634a5513d" initialState="started">
		<salesforce:query doc:name="Query" doc:id="3a07ccac-6a33-4571-a915-0505653568fe" config-ref="Salesforce_Config_mule_ecomm" target="query_var">
			<salesforce:salesforce-query><![CDATA[SELECT Password__c, id__c, Name from user_table__c where id__c = :id]]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	"id" : message.attributes.headers.user_id default 0
}]]]></salesforce:parameters>
		</salesforce:query>
		<choice doc:name="Choice" doc:id="d39df7c8-b932-49f4-b58b-9edaf3032ca1" >
			<when expression="#[vars.query_var[0].Password__c == message.attributes.headers.user_password]" >
				<ee:transform doc:name="Transform Message" doc:id="45d400ec-72a5-4136-ab39-7f5c4d29764b">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	Address__c: payload.address,
	Password__c: payload.password,
	contact_number__c: payload.contact_number,
	id: vars.query_var[0].Name
}]]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<salesforce:update type="user_table__c" doc:name="Update" doc:id="95b97606-f5e5-4ce2-989a-aa7ca5b41f6d" config-ref="Salesforce_Config_mule_ecomm" >
				</salesforce:update>
				<logger level="INFO" doc:name="Logger" doc:id="7b291dcc-5b13-45fa-b683-51e19c040d46" message="#[payload.items.exception]" />
				<ee:transform doc:name="Transform Message" doc:id="d581a9f9-daaf-411e-a41d-da984019894b" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"User details Updated Successfully!"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="ba622b89-01ee-43ab-83ee-151dae2f8b7c" message="default" />
				<ee:transform doc:name="Transform Message" doc:id="be6df8e6-3749-4c52-aaec-9878d25f2c61" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if (sizeOf(vars.query_var) != 0) {
	"message": "Incorrect Password Provided; Please check your credentials!" 
}
else {
	"message": "User doesn't exist!" 
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="GetOrders" doc:id="91254911-3b71-4dc8-afe4-583c1bf21a20" >
				<salesforce:query doc:name="Query" doc:id="a819f251-f944-4fd9-b78b-f71f1b44ab6f" config-ref="Salesforce_Config_mule_ecomm" target="query_var">
			<salesforce:salesforce-query><![CDATA[SELECT Password__c, id__c, Name from user_table__c where id__c = :id]]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	"id" : message.attributes.headers.user_id default 0
}]]]></salesforce:parameters>
		</salesforce:query>
				<choice doc:name="Choice" doc:id="5c556993-b7e4-4e92-aed9-83d735ed84dd" >
			<when expression="#[vars.query_var[0].Password__c == message.attributes.headers.user_password]" >
				<db:select doc:name="Select" doc:id="69287acc-86e1-4a4d-9747-698c11f1b7ea" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT * FROM orders where user_id=:id;]]></db:sql>
					<db:input-parameters ><![CDATA[#[{"id": vars.query_var[0].id__c}]]]></db:input-parameters>
		</db:select>
				<set-variable value="#[[]]" doc:name="complete_payload" doc:id="e82b62a8-d1d8-4790-9a8e-6743a65662b3" variableName="complete_payload"/>
				<foreach doc:name="For Each" doc:id="f88e8983-4c40-428c-bdbb-54388dba17a2" collection="#[payload]">
					<db:select doc:name="Select" doc:id="4ec81e6f-bdff-4736-82f3-bd5bde9aa4bf" config-ref="Database_Config" target="items_payload">
						<db:sql ><![CDATA[SELECT item_id, item_quantity as quantity_ordered FROM order_details WHERE order_id = :id;]]></db:sql>
						<db:input-parameters ><![CDATA[#[{"id": payload.id}]]]></db:input-parameters>
					</db:select>
					<ee:transform doc:name="Transform Message" doc:id="8e98167c-83b9-4346-90b5-c04db1f45db9" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload ++ {"items": vars.items_payload}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<set-variable value="#[vars.complete_payload ++ [payload]]" doc:name="complete_payload" doc:id="7ec492bc-4918-4106-8078-3f0fade75448" variableName="complete_payload"/>
				</foreach>
				<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.complete_payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
			

</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="3febed2b-6564-4db2-84f1-ca7998f8aa92" message="#[vars.query_var]"/>
			</otherwise>
		</choice>
	</flow>

	<flow name="PutOrders" doc:id="8f3c353e-35e2-4fc3-bce8-538f4d373137" >
						<salesforce:query doc:name="Query" doc:id="a5d01fc8-ad3b-40e8-ab5e-f5bb69b37b89" config-ref="Salesforce_Config_mule_ecomm" target="query_var">
			<salesforce:salesforce-query><![CDATA[SELECT Password__c, id__c, Name from user_table__c where id__c = :id]]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	"id" : message.attributes.headers.user_id default 0
}]]]></salesforce:parameters>
		</salesforce:query>
				<choice doc:name="Choice" doc:id="38af9b77-bbd6-456a-b89e-8ebde0f35428" >
			<when expression="#[vars.query_var[0].Password__c == message.attributes.headers.user_password]">
				<db:select doc:name="Select" doc:id="5772e6e6-3910-448a-a9b0-564d7c1f747b" config-ref="Database_Config" target="select_info">
					<db:sql ><![CDATA[SELECT address, delivery_date FROM orders where id= :id;]]></db:sql>
					<db:input-parameters ><![CDATA[#[{"id": message.attributes.headers.order_id}]]]></db:input-parameters>
				</db:select>
				<ee:transform doc:name="Transform Message" doc:id="fb6133c7-44a7-43a2-b3a1-e1d6b5a01eb1">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---

if (sizeOf(payload) == 2){
	delivery_date: payload.delivery_date  as DateTime  as String {format: "yyyy-MM-dd HH:mm:ss"},
	address: payload.address as String
}
else if (sizeOf(payload) == 1 and payload.delivery_date is Null) {
		delivery_date: vars.select_info[0].delivery_date  as DateTime as String {format: "yyyy-MM-dd HH:mm:ss"},
	address: payload.address as String
}
else if (sizeOf(payload) == 1 and payload.address is Null) {
		delivery_date: payload.delivery_date  as DateTime as String {format: "yyyy-MM-dd HH:mm:ss"},
	address: vars.select_info[0].address as String
}
else{
			delivery_date: vars.select_info[0].delivery_date  as DateTime  as String {format: "yyyy-MM-dd HH:mm:ss"},
	address: vars.select_info[0].address as String
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<db:update doc:name="Update" doc:id="26d00077-d193-417d-b69b-e57130195a18" config-ref="Database_Config">
					<db:sql ><![CDATA[UPDATE orders SET address= :add, delivery_date = :date where id=:id;]]></db:sql>
					<db:input-parameters ><![CDATA[#[{"id": message.attributes.headers.order_id default 0 as Number,
	"add": payload.address default '' as String ,
	"date": payload.delivery_date default '' as String
}]]]></db:input-parameters>
				</db:update>
				<logger level="INFO" doc:name="Logger" doc:id="fe0f68ce-e3c7-4f0f-aede-5ce7da2432f8" />
				<ee:transform doc:name="Transform Message" doc:id="703d2d27-594b-4be0-831e-9c7a6dcc7c96" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
"Order details Updated Successfully!"
]]></ee:set-payload>
					</ee:message>
				</ee:transform>

			

</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="8337f365-e503-48f3-88ad-8f891d8e90d9" message="#[vars.query_var]"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="PostOrders" doc:id="9be8fed6-0040-45ca-bf5d-c771a43f9568" initialState="started">
		<salesforce:query doc:name="Query" doc:id="3efba4f9-9db0-4f78-b583-2134aebf1b87" config-ref="Salesforce_Config_mule_ecomm" target="query_var">
			<salesforce:salesforce-query><![CDATA[SELECT Password__c, id__c, Name from user_table__c where id__c = :id]]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	"id" : message.attributes.headers.user_id default 0
}]]]></salesforce:parameters>
		</salesforce:query>
		<choice doc:name="Choice" doc:id="b06958e1-9782-440f-8f5d-1fc29b6c992b" >
			<when expression="#[vars.query_var[0].Password__c == message.attributes.headers.user_password]" >
				<os:retrieve doc:name="RetrieveOrderID" doc:id="85ba631f-a40b-498c-a359-f900bb57550e" key="order_id" objectStore="Object_store" target="order_id">
					<os:default-value ><![CDATA[#[1]]]></os:default-value>
				</os:retrieve>
				<os:store doc:name="OrderID" doc:id="a3446a4d-a0f9-476f-9310-744f319d31a4" key="order_id" objectStore="Object_store">
					<os:value ><![CDATA[#[vars.order_id + 1]]]></os:value>
				</os:store>
			        <flow-ref doc:name="fetch_total_price" doc:id="52df60ab-7274-4557-a16e-e35508ab8c48" name="fetch_total_price" target="total_price"/>
				<flow-ref doc:name="update_inventory" doc:id="5a09ae22-5047-4d09-964b-a2412500413e" name="update_inventory" target="update_inventory" />
				<flow-ref doc:name="insert_in_orders" doc:id="15fa206c-ea9b-4d42-9da1-5cbe46be3e08" name="insert_in_orders" target="orders_output"/>
				<flow-ref doc:name="insert_in_order_details" doc:id="5d4c7139-2eb0-4886-9483-855cbfbc06a4" name="insert_in_order_details" target="order_details_output"/>
				<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"Order with ID "++ vars.order_id as String ++" Created Successfully!"]]></ee:set-payload>
            </ee:message>
        </ee:transform>
			
</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="75ecd94b-c2e8-45e2-a0a9-ff23fb4aea25" message="#[vars.query_var]"/>
			</otherwise>
		</choice>
	</flow>
	<sub-flow name="insert_in_orders" doc:id="0d9a93e1-467d-4c8b-ae15-7e1486234b37">
		<ee:transform doc:name="Transform Message" doc:id="8f6ebcdc-c65c-400b-af73-7ffd0476e7ad">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	payment_mode: payload.payment_mode,
	address: payload.address,
	user_id: vars.query_var[0].id__c default 0 as Number,
	item_quantity: sizeOf(payload.items),
	status: "Placed",
	delivery_date: ( now() + |P5D| ) as String {format: "yyyy-MM-dd HH:mm:ss"},
	payment_id: "payment_01",
	order_id: vars.order_id,
	total_price: vars.total_price
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:insert doc:name="Insert in Orders" doc:id="af4831d1-d3aa-414e-bf11-a6f999cac8a4" config-ref="Database_Config">
					<db:sql><![CDATA[INSERT INTO orders (id, user_id, total_price, item_quantity, payment_mode, payment_id, status, address, delivery_date) VALUES (:id, :user_id, :total_price, :item_quantity, :payment_mode, :payment_id, :status, :address, :delivery_date)]]></db:sql>
					<db:input-parameters><![CDATA[#[{"id": payload.order_id ,"user_id": payload.user_id, "total_price": payload.total_price, "item_quantity": payload.item_quantity, "address": payload.address, "payment_mode": payload.payment_mode, "status": payload.status, "delivery_date": payload.delivery_date, "payment_id": payload.payment_id}]]]></db:input-parameters>
				</db:insert>
		<logger level="INFO" doc:name="Logger" doc:id="1aa6dfe0-8327-4e91-ba9a-ff54469868b8" message="#[payload]" />
	</sub-flow>
	<sub-flow name="insert_in_order_details" doc:id="57480fc9-62f2-4d67-aa77-de19bfbec4cd" >
		<ee:transform doc:name="Transform Message" doc:id="2b9b01cd-ec32-4d27-86e6-34f3d58d3ea5">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload.items map(val, index) -> {
    "item_id": val.item_id,
    "item_quantity": val.item_quantity,
    "order_id": vars.order_id
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<db:bulk-insert doc:name="Bulk insert" doc:id="968d5f17-58f3-403b-9c07-6e0fb42e0fdd" config-ref="Database_Config">
					<db:sql><![CDATA[INSERT INTO order_details values(:order_id, :item_id, :item_quantity);]]></db:sql>
				</db:bulk-insert>
		<logger level="INFO" doc:name="Logger" doc:id="60999711-7d63-47d8-847f-05572a6b5100" message="#[payload]" />
	</sub-flow>
	<sub-flow name="fetch_total_price" doc:id="a3561d81-8558-42dd-bc23-09c4f60fd585" >
		<set-variable value="#[0]" doc:name="total_price" doc:id="f5343558-33ac-49aa-aeed-f9f0e09ed2c5" variableName="order_amount"/>
		<foreach doc:name="For Each" doc:id="7e3c3145-8539-4286-8078-0917e6ccf5ae" collection="#[payload.items]">
			<set-variable value='#[payload.item_id default ""]' doc:name="Set Variable" doc:id="e3109e32-0900-4423-b75f-7059b29194b5" variableName="item_id" />
			<db:select doc:name="Select" doc:id="9fec5195-70d1-4418-976a-ce65d6634bba" config-ref="Database_Config">
				<db:sql ><![CDATA[SELECT price * :qty as price, name from inventory where id = :id and in_stock_quantity >= :qty;]]></db:sql>
				<db:input-parameters ><![CDATA[#[{"id": payload.item_id, "qty": payload.item_quantity}]]]></db:input-parameters>
			</db:select>
			<choice doc:name="Choice" doc:id="bbdfb648-dc7c-4365-82f1-1a8e96eb3809" >
				<when expression="#[sizeOf(payload) != 0]">
					<set-variable value='#[vars.order_amount + ( payload[0]."price" as Number default 0)]' doc:name="add price" doc:id="69bf0669-3332-4e68-945f-8b1c7696b8e3" variableName="order_amount" />
				</when>
				<otherwise >
					<raise-error doc:name="Raise error" doc:id="939ffb42-050b-446f-bc3b-c700c660612c" type="ORDERS: OUT_OF_STOCK" description='#["Item with id " ++ vars.item_id  ++  " currently out of stock! Order can not be placed!"]'/>
				</otherwise>
			</choice>
		</foreach>
		<set-payload value="#[vars.order_amount]" doc:name="Set Payload" doc:id="e086e897-0416-4e17-812b-669242b4832d" />
	</sub-flow>
	<sub-flow name="update_inventory" doc:id="c65c8909-11df-4e58-8930-fd10c46e1e95" >
		<foreach doc:name="For Each" doc:id="771e25c2-ff7d-4c02-86d0-2b6b9c09db1b" collection="#[payload.items]">
			<db:update doc:name="Update" doc:id="8a9b9c68-9c54-4012-a3ea-609474a154d0" config-ref="Database_Config">
				<db:sql ><![CDATA[Update inventory set in_stock_quantity = in_stock_quantity - :qty, last_modified_at = now() where id = :id;]]></db:sql>
				<db:input-parameters ><![CDATA[#[{"qty": payload.item_quantity, "id": payload.item_id}]]]></db:input-parameters>
			</db:update>
		</foreach>
	</sub-flow>
	<flow name="emailFlow" doc:id="ca0ed068-43e3-4065-a95f-f8ec85595b3f" >
		<db:listener table="inventory_update_metadata" doc:name="On Table Row" doc:id="a2c2e271-457b-4287-9a5a-703ff5a86912" config-ref="Database_Config" watermarkColumn="last_updated_at">
			<scheduling-strategy >
				<fixed-frequency frequency="5" timeUnit="SECONDS" />
			</scheduling-strategy>
		</db:listener>
		<set-variable value="#[true]" doc:name="flag" doc:id="69c7c976-a612-469a-a190-35b2ad9053c6" variableName="flag"/>
		<choice doc:name="Choice" doc:id="50e47a3c-9453-4f28-b446-7f3fa078b0f7" >
						<when expression="#[sizeOf(payload) == 0]">
				<set-variable value="#[false]" doc:name="flag to False" doc:id="83ea9915-9f57-44f2-a215-afad71e1541f" variableName="flag"/>
				<logger level="INFO" doc:name="Logger" doc:id="33e2ea42-b459-4849-a5d6-344c640b8475" />
			
</when>
			<when expression="#[(payload.current_in_stock_quantity !=0 and payload.previous_in_stock_quantity==0)]">
				<set-variable value='#["Item with ID " ++ (payload.item_id default 1 as String) ++ " is now back in stock!"]' doc:name="email_body" doc:id="79603edd-1c08-4709-952f-3eabea33bbe7" variableName="email_body"/>
			</when>
			<when expression="#[(payload.current_in_stock_quantity ==0 and payload.previous_in_stock_quantity !=0)]">
				<set-variable value='#["Item with ID " ++ (payload.item_id default 1 as String) ++ " is out of stock!"]' doc:name="email_body" doc:id="59b9e1b6-aa1a-4465-9238-df49678d6960" variableName="email_body"/>
			</when>
			<when expression="#[payload.item_current_price &lt; payload.item_previous_price]">
				<set-variable value='#["Item with ID " ++ (payload.item_id default 1 as String) ++ " is now available at a discounted price"]' doc:name="email_body" doc:id="86a4d21b-9d66-4537-ab84-2ae31dc5abe6" variableName="email_body"/>
			</when>

			<otherwise >
				<set-variable value='#["Item with ID " ++ (payload.item_id default 1 as String) ++ " price has now increased!"]' doc:name="email_body" doc:id="0a8fb0df-6684-4f88-9fdb-d303be5e8d87" variableName="email_body"/>
			</otherwise>
		</choice>
		
		
		<choice doc:name="Choice" doc:id="75fe5451-f06b-498c-8536-6153aa505972" >
			<when expression="#[vars.flag]">
				<set-variable value="#[payload.item_id]" doc:name="item_id" doc:id="05d0c46d-97c6-4294-ad30-5189c87635a6" variableName="item_id" />
				<db:select doc:name="Select" doc:id="848ec2c2-2d00-42ad-99d8-2d82ca45c987" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT DISTINCT(wishlist_id) as wishlist_id FROM wishlist_details WHERE item_id=:id]]></db:sql>
			<db:input-parameters><![CDATA[#[{"id": payload.item_id}]]]></db:input-parameters>
		</db:select>
				<choice doc:name="Choice" doc:id="c52a0b78-f79b-4ce9-be2f-08842c618f95">
					<when expression="#[sizeOf(payload) != 0]">
						<logger level="INFO" doc:name="Logger" doc:id="9263cb5c-ba4c-49b1-83df-a4b14dbad0aa" message="#[payload]" />
						<foreach doc:name="For Each" doc:id="88573184-0257-43a0-88cd-0eb9da944e44" collection="#[payload]">
			<db:select doc:name="Select" doc:id="62aac7eb-56da-43f9-8bd0-faa9c793a36e" config-ref="Database_Config">
				<db:sql><![CDATA[SELECT DISTINCT(user_id) as user_id FROM wishlist WHERE id=:id]]></db:sql>
				<db:input-parameters><![CDATA[#[{"id": payload.wishlist_id}]]]></db:input-parameters>
			</db:select>
			<logger level="INFO" doc:name="Logger" doc:id="37f02539-c3fd-452c-ab42-2d08048a72ef" />
			<foreach doc:name="For Each" doc:id="dff0d996-311c-4288-b8fd-dbad5dbae935" collection="#[payload]">
				<ee:transform doc:name="Transform Message" doc:id="78b27a23-2771-4f38-a875-bab8670ff46d" >
									<ee:message >
										<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	"Address__c": "krishna03maheshwari@gmail.com" as String,
	"full_name__c": "Krishna" as String
}]]]></ee:set-payload>
									</ee:message>
								</ee:transform>
								<email:send doc:name="Send" doc:id="313647d3-1476-4721-8107-bcc8d470256d" config-ref="Email_SMTP" fromAddress='#["cu.16bc1798@gmail.com"]' subject="MuleEcom- Wishlist Alert!">
					<email:to-addresses>
						<email:to-address value="#[payload[0].Address__c]" />
					</email:to-addresses>
					<email:body contentType="text/plain" encoding="UTF-8">
						<email:content><![CDATA[#["Hi " ++ payload[0].full_name__c default "" as String ++ ",\n\n" ++ vars.email_body]]]></email:content>
					</email:body>
				</email:send>
				<logger level="INFO" doc:name="Logger" doc:id="b43575e0-ea97-45a0-b4f2-d4bffca657b3" message="#[payload]" />
			</foreach>
		</foreach>
						<logger level="INFO" doc:name="Logger" doc:id="8e9f2bbc-1e30-4bb2-867c-fead3133fee3" message="#[payload]" />
					</when>
					<otherwise >
						<logger level="INFO" doc:name="Logger" doc:id="632f04c0-2d3e-4086-adf1-37c3de05f9cb" message="Item not present in any wishlist!"/>
					</otherwise>
				</choice>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="4ff1a497-08f5-4a1f-9c18-32ec355a366a" message="No modification detected in the inventory!"/>
			</otherwise>
		</choice>
	</flow>
</mule>
