src/main/mule/Integration_AWS-S3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:s3="http://www.mulesoft.org/schema/mule/s3" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<s3:config name="Amazon_S3_Configuration" doc:name="Amazon S3 Configuration" doc:id="4af9ad3a-bca5-4243-bcb6-9e6515a5d6f6" >
		<s3:basic-connection accessKey="AKIATUUGLHAHNSXTYFPV" secretKey="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" />
	</s3:config>
	<flow name="integration_scheduler" doc:id="0dab3529-058e-4b82-884b-e0e79db4d4db" >
		<scheduler doc:name="Scheduler" doc:id="85b120e9-003d-4fb3-87dd-1853cb19808b">
			<scheduling-strategy>
				<cron expression="0 0 3 ? * *" timeZone="Asia/Calcutta" />
			</scheduling-strategy>
		</scheduler>
		<scatter-gather doc:name="Scatter-Gather" doc:id="b09bbe49-8297-4798-ad41-767862b2e5c0" >
			<route >
				<flow-ref doc:name="inventory" doc:id="b134d151-da21-490c-89b1-f3e5d9cb8747" name="inventory" />
			</route>
			<route >
				<flow-ref doc:name="accounts" doc:id="9fad162c-cfd4-4b4c-8146-814dacddaee4" name="accounts" />
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="5c716a06-3bc4-4fda-9ef2-06a220321d68" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Data migrated successfully!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<sub-flow name="inventory" doc:id="3f95d7bb-842c-4c0a-b0f6-a19544d38cbe" >
		<s3:get-object doc:name="Get object" doc:id="b1e512bf-0ac0-49e1-b241-746f8f3237cc" config-ref="Amazon_S3_Configuration" bucketName="mule-ecomm" key="inventory.csv"/>
		<ee:transform doc:name="Transform Message" doc:id="09943ba8-649a-44da-beb1-891c84aaa950" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.id,
	name: payload01.name,
	price: payload01.price,
	in_stock_quantity: payload01.in_stock_quantity,
	last_modified_at: now() as String {format: "yyyy-MM-dd HH:mm:ss"}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<os:retrieve doc:name="Retrieve" doc:id="a669955a-8937-4607-8926-2acbd8ebfe07" key="inv_last_read" objectStore="Object_store" target="inv_last_read">
			<os:default-value ><![CDATA[#[0]]]></os:default-value>
		</os:retrieve>
		<os:store doc:name="Store" doc:id="489bff51-5ea0-49f0-abfe-204f5ae1a225" key="inv_last_read" objectStore="Object_store">
			<os:value ><![CDATA[#[vars.inv_last_read + 2]]]></os:value>
		</os:store>
		<ee:transform doc:name="Transform Message" doc:id="0b1e5f12-0424-4317-a883-8ec742561990" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import slice from dw::core::Arrays
output application/json
---
slice(payload, vars.inv_last_read as Number, vars.inv_last_read as Number + 2)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:bulk-insert doc:name="Bulk insert" doc:id="77a9ecdf-c89d-457f-8b7b-e504814242ad" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO inventory values (:id, :name, :price, :in_stock_quantity, :last_modified_at);]]></db:sql>
		</db:bulk-insert>
		<logger level="INFO" doc:name="Logger" doc:id="caf17e47-9c4c-4803-a253-40ba73bcfeeb" message="#[payload]"/>
	</sub-flow>
	<sub-flow name="accounts" doc:id="45b083bc-d36c-4efa-877b-b84f7fd2d4fa" >
		<s3:get-object doc:name="Get object" doc:id="316b56ec-c49f-4379-9055-7a785614f87c" config-ref="Amazon_S3_Configuration" bucketName="mule-ecomm" key="accounts.csv"/>
		<ee:transform doc:name="Transform Message" doc:id="7496d565-1194-4e40-b1b3-5f518001d612" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	"id__c": payload01.id as Number,
	"Password__c": payload01.password as String,
	"Address__c": payload01.address as String,
	"contact_number__c": payload01.contact_number as String,
	"full_name__c": payload01.full_name as String
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<os:retrieve doc:name="Retrieve" doc:id="501fbef3-aa00-4c7c-8e6a-d43cca4eabd6" key="acc_last_read" objectStore="Object_store" target="acc_last_read">
			<os:default-value ><![CDATA[#[0]]]></os:default-value>
		</os:retrieve>
		<os:store doc:name="Store" doc:id="00b17478-5205-4c59-8def-d1cc083566ff" key="acc_last_read" objectStore="Object_store">
			<os:value ><![CDATA[#[vars.acc_last_read + 2]]]></os:value>
		</os:store>
		<ee:transform doc:name="Transform Message" doc:id="7dbb1d7b-f161-4184-991c-337482537a8f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import slice from dw::core::Arrays
output application/csv
---
slice(payload, vars.acc_last_read as Number, vars.acc_last_read as Number + 2)]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<salesforce:create-job-bulk-api-v2 objectType="user_table__c" operation="insert" doc:name="Create job bulk api v 2" doc:id="1ed73311-0155-4b2d-806b-fe2d9c3d1f85" config-ref="Salesforce_Config_mule_ecomm" externalIdFieldName="Id" lineEnding="CRLF"/>
		<logger level="INFO" doc:name="Logger" doc:id="a82c41f7-fb90-47a5-ab4d-0293774c52f9" message="#[payload]"/>
	</sub-flow>
	
	
	
</mule>
