src/test/munit/orders-test-suite.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
	xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<munit:config name="orders-test-suite.xml" />
	    <munit:test name="get:\orders:mule-ecommerce-project-config-200-application\json-FlowTest" description="Verifying functionality of [get:\orders:mule-ecommerce-project-config-200-application\json]" ignore="true">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="mule-ecommerce-project-main" />
            <munit:enable-flow-source value="get:\orders:mule-ecommerce-project-config" />
        </munit:enable-flow-sources>
        <munit:execution>
            <http:request config-ref="HTTP_Request_Configuration_munit" method="GET" path="/orders">
                <http:headers><![CDATA[#[{"user_password":"","Accept":"application/json","user_id":""}]]]></http:headers>
            </http:request>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-that expression="#[attributes.statusCode]" is="#[MunitTools::equalTo(200)]" message="The HTTP Status code is not correct!" doc:name="Assert That Status Code is 200" />
            <munit-tools:assert-that expression="#[output application/java ---write(payload, 'application/json') as String]" is="#[MunitTools::equalTo(MunitTools::getResourceAsString('scaffolder/response/get_200_orders_application_json.json'))]" message="The response payload is not correct!" doc:name="Assert That - Payload is Expected" />
        </munit:validation>
    </munit:test>
    <munit:test name="put:\orders:application\json:mule-ecommerce-project-config-200-application\json-FlowTest" description="Verifying functionality of [put:\orders:application\json:mule-ecommerce-project-config-200-application\json]" ignore="true">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="mule-ecommerce-project-main" />
            <munit:enable-flow-source value="put:\orders:application\json:mule-ecommerce-project-config" />
        </munit:enable-flow-sources>
        <munit:behavior>
            <set-payload value="#[MunitTools::getResourceAsString('scaffolder/request/put_orders_application_json.json')]" />
        </munit:behavior>
        <munit:execution>
            <http:request config-ref="HTTP_Request_Configuration_munit" method="PUT" path="/orders">
                <http:headers><![CDATA[#[{"user_password":"","Accept":"application/json","user_id":"","Content-Type":"application/json"}]]]></http:headers>
            </http:request>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-that expression="#[attributes.statusCode]" is="#[MunitTools::equalTo(200)]" message="The HTTP Status code is not correct!" doc:name="Assert That Status Code is 200" />
            <munit-tools:assert-that expression="#[output application/java ---write(payload, 'application/json') as String]" is="#[MunitTools::equalTo(MunitTools::getResourceAsString('scaffolder/response/put_200_orders_application_json.json'))]" message="The response payload is not correct!" doc:name="Assert That - Payload is Expected" />
        </munit:validation>
    </munit:test>
    <munit:test name="post:\orders:application\json:mule-ecommerce-project-config-201-application\json-FlowTest" description="Verifying functionality of [post:\orders:application\json:mule-ecommerce-project-config-201-application\json]" ignore="true">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="mule-ecommerce-project-main" />
            <munit:enable-flow-source value="post:\orders:application\json:mule-ecommerce-project-config" />
        </munit:enable-flow-sources>
		<munit:execution>
			<ee:transform doc:name="Transform Message" doc:id="be029aff-4cbc-442c-b092-241eb9224568" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
"items": [
{
  "item_id":99999999,
  "item_quantity": 1
}
],
"payment_mode": "Dummy",
"address": "Dummy"
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<http:request config-ref="HTTP_Request_Configuration_munit" method="POST" path="/orders">
                <http:headers><![CDATA[#[{"user_password":"pass@123","Accept":"application/json","user_id": 999999999,"Content-Type":"application/json"}]]]></http:headers>
            </http:request>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-that expression="#[attributes.statusCode]" is="#[MunitTools::equalTo(201)]" message="The HTTP Status code is not correct!" doc:name="Assert That Status Code is 201" />
            <munit-tools:assert-that expression="#[payload.message]" is='#[MunitTools::equalTo("Order with ID "++ vars.order_id as String ++" Created Successfully!")]' message="The response payload is not correct!" doc:name="Assert That - Payload is Expected" />
        </munit:validation>
    </munit:test>
	
		<flow name="createUserOrd" doc:id="4f760a8f-153d-4e03-bd22-e92b5e7cb96f" >
		<ee:transform doc:name="Transform Message" doc:id="374c61ac-0a50-4b79-a067-574475a1d458" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	full_name__c: "dummy_user",
	Address__c: "krishna03maheshwari@gmail.com",
	Password__c: "pass@123",
	contact_number__c: "9878987890",
	id__c: 999999999,
}]
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create doc:name="Create" doc:id="add7a92d-0cc9-4e0f-b3f7-de5ba3b74c62" config-ref="Salesforce_Config_mule_ecomm" type="user_table__c" target="sf_create">
			<reconnect />
		</salesforce:create>
		<db:insert doc:name="Insert" doc:id="1345ab7f-4bff-4ccf-a887-db49faca3af2" config-ref="Database_Config" target="db_create">
			<db:sql ><![CDATA[INSERT INTO wishlist VALUES("w999999999", 999999999, "2022-02-21 08:58:45");]]></db:sql>
		</db:insert>
		<logger level="INFO" doc:name="Logger" doc:id="20e42ba2-a03d-4ad5-aa27-7dac182bbdef" message="#[vars.create_flow]"/>
	</flow>
	<flow name="deleteUserOrd" doc:id="abbdb6c8-75d2-4e44-873f-d1f137846c20" >
		<salesforce:query doc:name="Query" doc:id="b3235567-1c41-40d9-be7b-88dee63f20b1" config-ref="Salesforce_Config_mule_ecomm" target="query_var_munit">
			<reconnect />
			<salesforce:salesforce-query ><![CDATA[SELECT Password__c, id__c, Name from user_table__c where id__c = 999999999]]></salesforce:salesforce-query>
		</salesforce:query>
		<salesforce:delete doc:name="Delete" doc:id="a64526c3-a3ba-41c3-a0eb-2c520d379606" config-ref="Salesforce_Config_mule_ecomm" target="sf_delete">
			<reconnect />
			<salesforce:ids ><![CDATA[#[[vars.query_var_munit[0].Name default " " as String]]]]></salesforce:ids>
		</salesforce:delete>
		<db:delete doc:name="Delete" doc:id="b1f17358-8656-45e5-91ea-0d0376097f42" config-ref="Database_Config" target="db_delete">
			<db:sql ><![CDATA[DELETE FROM wishlist WHERE user_id = 999999999]]></db:sql>
		</db:delete>
		<logger level="INFO" doc:name="Logger" doc:id="13c05812-72ad-4988-b7c9-1407e3972486" message="#[vars.delete_flow]"/>
	</flow>

</mule>
