src/test/munit/users-test-suite.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:munit="http://www.mulesoft.org/schema/mule/munit" xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd http://www.mulesoft.org/schema/mule/munit-tools http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd 
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <munit:config name="mule-ecommerce-project-apikit-test.xml" />
    <http:request-config name="HTTP_Request_Configuration" basePath="/api">
        <http:request-connection host="localhost" port="8081" />
    </http:request-config>
    <munit:test name="put:\users:application\json:mule-ecommerce-project-config-200-application\json-FlowTest" description="Verifying functionality of [put:\users:application\json:mule-ecommerce-project-config-200-application\json]">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="mule-ecommerce-project-main" />
            <munit:enable-flow-source value="put:\users:application\json:mule-ecommerce-project-config" />
        </munit:enable-flow-sources>
        <munit:behavior>
            <munit:set-event doc:name="Set Event" doc:id="067b323a-da9a-46da-96a5-41e396ae7330" />
			<set-payload value="#[MunitTools::getResourceAsString('scaffolder/request/put_users_application_json.json')]" />
        </munit:behavior>
        <munit:execution>
            <http:request config-ref="HTTP_Request_Configuration" method="PUT" path="/users">
                <http:headers>#[{"user_password":"","Accept":"application/json","user_id":"","Content-Type":"application/json"}]</http:headers>
            </http:request>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-that expression="#[attributes.statusCode]" is="#[MunitTools::equalTo(200)]" message="The HTTP Status code is not correct!" doc:name="Assert That Status Code is 200" />
            <munit-tools:assert-that expression="#[output application/java ---write(payload, 'application/json') as String]" is="#[MunitTools::equalTo(MunitTools::getResourceAsString('scaffolder/response/put_200_users_application_json.json'))]" message="The response payload is not correct!" doc:name="Assert That - Payload is Expected" />
        </munit:validation>
    </munit:test>
	<munit:test name="delete:\users:mule-ecommerce-project-config-200-application\json-FlowTest" description="Verifying functionality of [delete:\users:mule-ecommerce-project-config-200-application\json]" ignore="true">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="mule-ecommerce-project-main" />
            <munit:enable-flow-source value="delete:\users:mule-ecommerce-project-config" />
        </munit:enable-flow-sources>
        <munit:execution>
            <http:request config-ref="HTTP_Request_Configuration" method="DELETE" path="/users">
                <http:headers>#[{"user_password":"","Accept":"application/json","user_id":""}]</http:headers>
            </http:request>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-that expression="#[attributes.statusCode]" is="#[MunitTools::equalTo(200)]" message="The HTTP Status code is not correct!" doc:name="Assert That Status Code is 200" />
            <munit-tools:assert-that expression="#[output application/java ---write(payload, 'application/json') as String]" is="#[MunitTools::equalTo(MunitTools::getResourceAsString('scaffolder/response/delete_200_users_application_json.json'))]" message="The response payload is not correct!" doc:name="Assert That - Payload is Expected" />
        </munit:validation>
    </munit:test>
	<munit:test name="post:\users:application\json:mule-ecommerce-project-config-201-application\json-FlowTest" description="Verifying functionality of [post:\users:application\json:mule-ecommerce-project-config-201-application\json]" ignore="true">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="mule-ecommerce-project-main" />
            <munit:enable-flow-source value="post:\users:application\json:mule-ecommerce-project-config" />
        </munit:enable-flow-sources>
        <munit:execution>
            <munit:set-event doc:name="Set Event" doc:id="d3b17794-afea-423e-b956-15ae821fcdab" >
				<munit:payload value='{&#10;    "id": 999999998,&#10;    "password": "pass@123",&#10;    "address": "krishna03maheshwari@gmail.com",&#10;    "contact_number": "9878987890",&#10;    "full_name": "dummy_user"&#10;}' encoding="UTF-8" mediaType="application/json" />
			</munit:set-event>
			<http:request config-ref="HTTP_Request_Configuration" method="POST" path="/users">
                <http:headers>#[{"Accept":"application/json","Content-Type":"application/json"}]</http:headers>
            </http:request>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-that expression="#[attributes.statusCode]" is="#[MunitTools::equalTo(201)]" message="The HTTP Status code is not correct!" doc:name="Assert That Status Code is 201" />
            <munit-tools:assert-that expression="#[payload.message]" is='#[MunitTools::equalTo("User Created Successfully!")]' message="The response payload is not correct!" doc:name="Assert That - Payload is Expected" />
        </munit:validation>
    </munit:test>
	<flow name="createUser" doc:id="e5614856-dde1-40b0-86f5-d5f077380798" >
		<set-payload value='#[{&#10;    "id": 999999999,&#10;    "password": "pass@123",&#10;    "address": "krishna03maheshwari@gmail.com",&#10;    "contact_number": "9878987890",&#10;    "full_name": "dummy_user"&#10;}]' doc:name="Set Payload" doc:id="f8411a0e-1e77-4f9f-bb8a-f7e8bf41896d" />
		<salesforce:create doc:name="Create" doc:id="fa1b6a58-a754-4ee8-8fdb-043d12d67c6b" config-ref="Salesforce_Config_mule_ecomm" type="user_table__c"/>
	</flow>
	<flow name="deleteUser" doc:id="075a866a-bea9-496a-9fc2-a1032bf8c983" >
		<salesforce:delete doc:name="Delete" doc:id="c14d0827-3552-4224-9db7-a5c8ec3b0fcd" config-ref="Salesforce_Config_mule_ecomm"/>
	</flow>
</mule>
